<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/ingresar" method="POST">
        <label for="name">Nombre del restaurante: </label>
        <input type="text" name="name" id="name"> <br>
        <label for="kind">Tipo de restaurante: </label>
        <input type="text" name="kind" id="kind"> <br>
        <label for="songs">Canciones: </label>
        <input type="text" name="song1">
        <input type="text" name="song2">
        <input type="text" name="song3">
        <button type="submit">Agregar</button>
    </form>
    <p><a href="/listado">Ver listado de restaurantes</a></p>
</body>
</html>