<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
    <%for(let i=0 ; i < restaurants.length ; i++) {%>
        <li>Nombre: <%=restaurants[i].name%> - Tipo: <a href="/<%=restaurants[i].kind%>"><%=restaurants[i].kind%> </a> </li>
    <% } %>
    </ul>
    <p><a href="/ingresar">Ingresar nuevo restaurante</a></p>
</body>
</html>